[Unit]
Description=CarService Instance %i
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/opt/env/tmp/hb_carservice/monitor_loc.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target